/src/main/resources/nb-config
/bin
/build
/account-data-checker/build
/.groovy
/.settings
/target
.cache
.classpath
.project
.idea/*
.gradle/
*.iml
*.iws
*.ipr
classes
**/out
*.log
**/native
**/product-orchestration
**/results
.cache-main
.cache-tests
**/build
**/.DS_Store
**/*.sc
